.navbar {
    background-color: transparent;
    color: white;
    margin-bottom: 0px;
}

.navbar-default {
    border: 0;
    //padding: 5px 25px;
    
  .navbar-brand {
    color: #ccc;
    &:hover {
      color: white;
    }
  }
  .navbar-nav > li > a {
    color: #ccc;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    color: white;
    &:hover, &:focus {
      background-color: transparent;
      color: white;
    }
  }
}